ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display:inline;
    margin:0;
    padding: 5px;
}

.fa{
    font-size:20pt;
    color: var(--color-yellow);
    padding: 5px;
}
.fa-facebook-square{
    color: var(--color-soft-white);
}
.fa-facebook-square:hover{
    color: #3b5998;
}
.fa-instagram{
    color:var(--color-soft-white);
}
.fa-instagram:hover{
    color: #C13584;
}
.fa-linkedin-square{
    color:var(--color-soft-white);
}
.fa-linkedin-square:hover{
    color: #0072b1;
}
.rodape-color{
    background-color: var(--color-black);
}
.rodape-color2{
    background-color: var(--color-black);
}
.color-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--color-yellow);
}