.fs-16
{
    font-size: 16pt;
    color: var(--color-azul-medio);
}
a
{
    cursor: pointer;
}
.background-menu{
    background-color: var(--color-azul-claro);
    border: 1px solid var(--color-azul-medio);
    
}

.border{
    border: 1px solid var(--color-yellow);
}