.fs-16
{
    font-size: 12pt;
    color: var(--color-soft-white);
}
a
{
    cursor: pointer;
}
.background-menu{
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    
}

.border-navbar{
    border-bottom: 1px solid var(--color-yellow);
    padding-bottom: 15px;
}