
<div class="container-fluid img-bg header font">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 ">
      <p class="margem-bemvindo font-bemvindo text-center">
        Bem Vinde ao meu Blog de Viagens!
      </p>
      <p class="text-center mb-5">
        <i class="fa fa-plane mr-3" aria-hidden="true"></i>
        <i class="fa fa-globe mr-3" aria-hidden="true"> </i>
        <i class="fa fa-coffee mr-3" aria-hidden="true"></i>
        <i class="fa fa-camera mr-3" aria-hidden="true"></i>
      </p>
      <div class="row d-flex justify-content-center">
      <div class="form-area font-entrar">
        <h4 class="text-center pt-3 mt-4 mb-4">Entrar / Login</h4>
        <div class="form-group">
          <label for="usuario">Usuário</label>
          <input
            [(ngModel)]="usuarioLogin.usuario"
            class="form-control"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Seu usuário"
          />
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            [(ngModel)]="usuarioLogin.senha"
            class="form-control"
            type="password"
            name="senha"
            id="senha"
            placeholder="Sua senha"
          />
        </div>

        <div class="d-flex justify-content-center pt-3">
          <button
            (click)="entrar()"
            type="submit"
            class="button-entrar font-button"
          >
            Entrar
          </button>
        </div>
        <p class="text-center pt-3 text-black-50">
          Não tem uma conta?
          <a class="text-cadastrar" routerLink="/cadastrar">Cadastre-se</a>
        </p>

        <div class="col-md-6" id="img-bg"></div>
      </div>
    </div>
    </div>
  </div>
</div>
