/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
html
{
    scroll-behavior: smooth;
}
.fs-40{
    font-size: 40pt;
}

.fs-14{
    font-size: 14pt;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --color-black: #03071E;
    --color-gray:#6c757d
    --color-red: #9D0208;
    --color-orange: #DC2F02;
    --color-orange-medio: #E85D04;
    --color-yellow: #FAA307;
    --color-soft-white: #fffdf9;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: unset;
  }
  
  .font {
    font-family: 'IBM Plex Mono', monospace;
  }
  .background-color{
    background-color: var(--color-black);
  }