/* You can add global styles to this file, and also import other style files */
html
{
    scroll-behavior: smooth;
}
.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --color-azul-escuro: #2a6287;
    --color-azul-medio: #219EBC;
    --color-azul-claro: #8ECAE6;
    --color-orange: #FB8500;
    --color-yellow: #FFB703;
    --color-soft-white: #fffdf9;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: unset;
  }
  
  .font {
    font-family: "Inter", sans-serif;
  }
  .background-color{
    background-color: var(--color-soft-white);
  }