.background-inicio{
    background-color: var(--color-black);
}
.color-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--color-yellow);
}
/* Textto Inicial */
.font-bemvindo{
    color: var(--color-soft-white);
    font-size: 30pt;
    margin-bottom: 20px;
    margin-top: 50px;

}
.font-subtexto{
    color: var(--color-soft-white);
    font-size: 10pt;
    margin-bottom: 50px;

}
/* Botões de nova postagens e ver postagem*/
.btn{
    background-color: var(--color-black);
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
    padding-left: 80px;
    padding-right: 80px;
}
/* Menu de postagens/ minhas postagens/ postagem por tema */
.menu-post{
    color: var(--color-yellow);  
}
.font-tema{
    color: var(--color-yellow);
}
.btn-edit-delete{
    border: 1px solid var(--color-yellow);
    background-color: var(--color-yellow);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.text-edit-delete{
    color: var(--color-soft-white);
}

/* Modal de criar postagem */
.font-modal{
    color: var(--color-black);
}
.font-cadastre{
    color: var(--color-yellow);
}
.background-modal{
    background-color: rgba(255, 255, 255, 0.95);
}
.btn-modal{
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    border-radius: 10px;
    color: var(--color-soft-white);
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 10px;
}