<div class="container-fluid pt-5 bg-img header background-inicio" >
  <div class="row d-flex align-items-center">    
    <div class="row mb-2 mt-2">
      <h6 class="font font-bemvindo">Bem vindo ao meu Blog Pessoal, aqui você vai encontrar minha maior paixão: Viajar! Vamos comigo?</h6>
    </div>
    <!-- Início do Carousel -->
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <div id="carouselExampleControls" class="carousel slide img-config " data-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img src="https://i.imgur.com/VZnsdyx.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
       <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </div>
  <!-- Fim do Carousel -->


  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <div class="row">
        <button class="btn mr-3" data-toggle="modal" data-target="#novaPostagem">
          NovaPostagem
        </button>

        <a class="btn ml-3" href="#postagens">Ver Postagens</a>
      </div>
    </div>
  </div>
</div>


<!--Início do menu postagens-->

<div class="container mb-5 mt-5 background-inicio " id="postagens">
  <ul
    class="nav nav-tabs d-flex justify-content-center"
    id="myTab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <a
        class="nav-link menu-post"
        id="todasPostagens-tab"
        data-toggle="tab"
        href="#todasPostagens"
        role="tab"
        aria-controls="todasPostagens"
        aria-selected="true"
        >Postagens</a
      >
    </li>

    <li class="nav-item" role="presentation">
      <a
        (click)="findByIdUsuario()"
        class="nav-link menu-post"
        id="minhasPostagens-tab"
        data-toggle="tab"
        href="#minhasPostagens"
        role="tab"
        aria-controls="nav-minhasPostagens"
        aria-selected="false"
        >Minhas Postagens</a
      >
    </li>

    <li class="nav-item" role="presentation">
      <a
        class="nav-link menu-post"
        id="postagemTema-tab"
        data-toggle="tab"
        href="#postagemTema"
        role="tab"
        aria-controls="postagemTema"
        aria-selected="false"
        >Postagens por temas</a
      >
    </li>
  </ul>

  <!-- <div class="tab-content mt-5 " id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="todasPostagens"
      role="tabpanel"
      aria-labelledby="todasPostagens-tab"
    >
      <div class="card-columns">
        <div class="card text-center" *ngFor="let item of listaPostagens">
          <div class="card-body">
            <h5 class="card-title m-0">{{ item.titulo }}</h5>
            <hr class="color-hr" />
            <small class="mb-3 font-tema">
              Tema: {{ item.tema.descricao }}</small
            >
            <p class="card-text mt-3">{{ item.texto }}</p>
            <p class="card-text">
              <small class="text-muted"
                >{{ item.data | date: "dd/MM/yyyy" }} às
                {{ item.data | date: "HH:mm" }}</small
              >
            </p>
            <p class="card-text">
              <small class="text-muted">by: {{ item.usuario.nome }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="minhasPostagens"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      <div class="card-columns">
        <div class="card text-center" *ngFor="let item of usuario.postagem">
          <div class="card-body">
            <h5 class="card-title m-0">{{ item.titulo }}</h5>
            <hr class="color-hr" />
            <small class="text-muted mb-3">
              Tema: {{ item.tema.descricao }}</small
            >
            <p class="card-text">{{ item.texto }}</p>
            <p class="card-text">
              <small class="text-muted">
                {{ item.data | date: "dd/MM/yyyy" }} às
                {{ item.data | date: "HH:mm" }}</small
              >
            </p>

            <a
              [routerLink]="['/postagem-edit', item.id]"
              class="text-edit-delete btn-edit-delete mr-3 pr-3 pl-3"
              href=""
              >Editar</a
            >
            <a
              [routerLink]="['/postagem-delete', item.id]"
              class="text-edit-delete btn-edit-delete"
              href=""
              >Apagar</a
            >
          </div>
        </div>
      </div>
    </div>

    <div
      class="tab-pane fade"
      id="postagemTema"
      role="tabpanel"
      aria-labelledby="postagemTema-tab"
    >
      <div class="card-columns" *ngFor="let tema of listaTemas">
        <div class="card text-center" *ngFor="let item of tema.postagem">
          <div class="card-body">
            <h5 class="card-title m-0">{{ item.titulo }}</h5>
            <hr class="color-hr" />
            <small class="text-muted mb-3"> Tema: {{ tema.descricao }}</small>
            <p class="card-text">{{ item.texto }}</p>
            <p class="card-text">
              <small class="text-muted"
                >{{ item.data | date: "dd/MM/yyyy" }} às
                {{ item.data | date: "HH:mm" }}</small
              >
            </p>
            <p class="card-text">
              <small class="text-muted">by: {{ item.usuario.nome }}</small>
            </p>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</div>
<!--Fim das postagens-->

<!-- Modal -->
<div
  class="modal fade font-card"
  id="novaPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input
            [(ngModel)]="postagem.titulo"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>

        <div class="form-group">
          <label for="titulo">Texto</label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control"
            name="texto"
            id="texto"
            rows="3"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="titulo"
            >Escolha um tema ou
            <a data-dismiss="modal" routerLink="/tema" class="font-cadastre"
              >Cadastre um novo</a
            >
            :
          </label>
          <select
            name="tema"
            id="tema"
            class="form-control"
            [(ngModel)]="idTema"
            (change)="(findByIdTema)"
          >
            <option *ngFor="let item of listaTemas" value="{{ item.id }}">
              {{ item.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="publicar()"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
<!--Fim do modal-->
