.background-inicio{
    background-color: var(--color-soft-white);
}

.fs-12{
    font-size: 12pt;
    color: var(--color-azul-medio)
}
.fs-25{
    font-size: 25pt;
    color: var(--color-azul-medio);
}
.height-carousel{
    width: 80%;
}
.btn{
    background-color: var(--color-soft-white);
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
    padding-left: 80px;
    padding-right: 80px;
}
.margem-btn{
    margin-left: 450px;
}
.menu-post{
    color: var(--color-azul-medio);  
}
.font-card{
    color: var(--color-azul-medio);
}
.font-cadastre{
    color: var(--color-yellow);
}
.card{
    border-radius: 20px;
    border: 1px solid var(--color-yellow);
    color: var(--color-azul-medio); 
    
}
.margem-text{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 20px;

}
.border-inicio{
    border: 1px solid var(--color-yellow);
    border-radius: 20px;
    
}
.font-tema{
    color: var(--color-azul-escuro);
}
.btn-edit-delete{
    border: 1px solid var(--color-yellow);
    background-color: var(--color-yellow);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.text-edit-delete{
    color: var(--color-soft-white);
}